@using Microsoft.AspNetCore.Identity
@inject SignInManager<BookStore.Domain.Identity.EShopAppUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            @Html.ActionLink($"Hello {@User.Identity?.Name}", "", "", new { area ="" }, new { @class = "nav-link btn btn-link text-dark", disabled = "disabled" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, new { @class = "nav-link btn btn-link text-dark" })
        </li>
    }
    else
    {
        <li class="nav-item">
            @Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { @class = "nav-link btn btn-link text-dark" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "nav-link btn btn-link text-dark" })
        </li>
    }
</ul>
