@{
    ViewData["Title"] = "Home Page";
}
<div>
<div class="row">

    <div class="col-lg-4 col-md-4 col-xs-4 thumb mt-5">
        <a class="thumbnail" href="#">
            <img class="img-responsive rounded-circle" src="https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010__340.jpg" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb ml-5 mt-35">
        <a class="thumbnail" href="#">
            <img class="img-responsive rounded-circle" src="https://img.freepik.com/premium-photo/opened-book-bible-background_112554-164.jpg?w=360"  alt="">
        </a>
    </div>
   </div>
   <div><h1 class="text-lg-right mr-5">BOOK STORE</h1></div>
</div>