@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    @foreach (var member in new List<string>() { "185013" }.OrderBy(x => Guid.NewGuid()))
    {
        <span>@member.ToString()</span>

        <br />
    }
</p>